# I3 config, an improved dynamic & tiling window manager.
# Maintainer:	 Jessee Chan <CYPHER0@foxmail.com>
# Last Change: 2023.06.15


set  $alt   Mod1

set  $wrap  ~/.config/sway/wrap
bindsym  $alt+a  exec  $wrap/alacri.sh charpet 0
bindsym  $alt+s  exec  $wrap/alacri.sh showkey 0.2


bindsym  $alt+f  exec  alacritty -e tmux new fish
bindsym  $alt+r  exec  alacritty -e tmux new yazi
bindsym  $alt+v  exec  alacritty -e tmux new nvim


bindsym  $alt+d  exec  rofi -show combi
bindsym  $alt+c  exec  firefox
bindsym  $alt+e  exec  kodi

bindsym  $alt+t  exec  goldendict
bindsym  $alt+g  exec  gimp
bindsym  $alt+w  exec  VBoxManage startvm win11


