# I3 config, an improved dynamic & tiling window manager.
# Maintainer:	 Jessee Chan <CYPHER0@foxmail.com>
# Last Change: 2023.07.05


# set $mod  Mod1
  set $win  Super
  set $alt  Mod1
  set $ctrl Ctrl
  set $shft Shift
  set $winl Super_L
  set $winr Super_R

  # key fn
  set $refresh  exec  pkill -SIGRTMIN+11 i3blocks

# key lock
  bindsym --release  Caps_Lock              exec --no-startup-id  /home/00/switch/lock.sh        && $refresh
  bindsym --release   Num_Lock              exec --no-startup-id  /home/00/switch/lock.sh        && $refresh

# key screen
  # bindsym            $alt+Menu              exec --no-startup-id
  bindsym            $alt+KP_Multiply       exec --no-startup-id  /home/00/switch/sshot_regn.sh  && $refresh
  bindsym            $alt+$ctrl+KP_Multiply exec --no-startup-id  /home/00/switch/sshot_wind.sh  && $refresh
  bindsym            $alt+$shft+KP_Multiply exec --no-startup-id  /home/00/switch/sshot_moni.sh  && $refresh
  bindsym            $alt+KP_Divide         exec --no-startup-id  /home/00/switch/srecd_regn.sh  && $refresh
  bindsym            $alt+$ctrl+KP_Divide   exec --no-startup-id  /home/00/switch/srecd_wind.sh  && $refresh
  bindsym            $alt+$shft+KP_Divide   exec --no-startup-id  /home/00/switch/srecd_moni.sh  && $refresh

# key fn
  bindsym            F2                     exec --no-startup-id  /home/00/switch/vpn.sh         && $refresh
  bindsym            F3                     exec --no-startup-id  /home/00/switch/samba.sh       && $refresh
  bindsym            F4                     exec --no-startup-id  /home/00/switch/share.sh       && $refresh
  bindsym            F6                     exec --no-startup-id  /home/00/switch/udisk.sh       && $refresh
  bindsym            F7                     exec --no-startup-id  /home/00/switch/btth.sh        && $refresh
  bindsym            F8                     exec --no-startup-id  /home/00/switch/wlan.sh        && $refresh
  bindsym            F9                     exec --no-startup-id  /home/00/switch/vol_dn.sh      && $refresh
  bindsym            F10                    exec --no-startup-id  /home/00/switch/vol_up.sh      && $refresh
  # bindsym            F11                    exec --no-startup-id  /home/00/switch/led_dn.sh      && $refresh
  # bindsym            F12                    exec --no-startup-id  /home/00/switch/led_up.sh      && $refresh

# key fn
  bindsym            $alt+F3                exec --no-startup-id  /home/00/switch/moni.sh        && $refresh
  bindsym            $alt+F5                exec --no-startup-id  /home/00/switch/sync.sh        && $refresh
  bindsym            $alt+F6                exec --no-startup-id  /home/00/switch/ollama.sh      && $refresh


