#!/usr/bin/env sh


COLOR_BLCK=#000000
COLOR_WHTE=#ffffff
COLOR_GRLT=#a0a0a0
COLOR_RRRR=#ff0000
COLOR_OOOO=#ff8000
COLOR_YYYY=#ffff00
COLOR_LLLL=#80ff00
COLOR_GGGG=#00ff00
COLOR_SSSS=#00ff80
COLOR_CCCC=#00ffff
COLOR_AAAA=#0080ff
COLOR_BBBB=#8080ff
COLOR_VVVV=#c080ff
COLOR_MMMM=#ff00ff
COLOR_PPPP=#ff0080


