# I3 config, an improved dynamic & tiling window manager.
# Maintainer:	 Jessee Chan <CYPHER0@foxmail.com>
# Last Change: 2023.06.15


# key new win ( exec app )
# bindsym $alt+b  exec  alacritty
bindsym $alt+f  exec  alacritty -e tmux new fish
bindsym $alt+v  exec  alacritty -e tmux new nvim
bindsym $alt+r  exec  alacritty -e tmux new josh

bindsym $alt+d  exec  rofi -show combi
bindsym $alt+e  exec  nautilus -w
# bindsym $alt+c  exec  firefox -kiosk
bindsym $alt+c  exec  firefox
bindsym $alt+s  exec  kodi

bindsym $alt+t  exec  goldendict
bindsym $alt+g  exec  gimp
# bindsym $alt+w  exec  virtualbox
bindsym $alt+w  exec  VBoxManage startvm win11


